<!DOCTYPE html>
<html>
   <head>
      <link href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css" rel="stylesheet">
      <!-- include our dependency on angular -->
      <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.0/angular.min.js"></script>
      <script src="//angular-ui.github.io/ui-router/release/angular-ui-router.js"></script>
      <script src="c-3.js?5"></script>
      <link rel="stylesheet" type="text/css" href="c-3.css?3">
      <meta charset="utf-8">
      <title>Health for Life</title>
   </head>
   <body>

      <div ng-app='myApp' ng-controller='myCtrl'>
         <ui-view></ui-view>
         <script type="text/ng-template" id="/home.html">
            <h1>Healthy weight for life</h1>
            <div id="buttons">
            
            <img src="greenDrink.png" ng-click="setTile('Drink')"/>
            <img src="breakfast.png" ng-click="setTile('Brkfst')"/>
            <img src="lunch.png" ng-click="setTile('Lunch')"/>
            <img src="dinner.png" ng-click="setTile('Dinner')"/>
            <br>
            <img src="weight.png" ng-click="setTile('Weigh')"/>
            <img src="exercise.png" ng-click="setTile('Exercise')"/>
            <img src="snacks.png" ng-click="setTile('Snacks')"/>
            <img src="lemonJuice.png" ng-click="setTile('Lemon')"/>
            <br>
            <img src="stressLess.png" ng-click="setTile('Stress')"/>
            <img src="affirmation.png" ng-click="setTile('Affirm')"/>
            <img src="visualize.png" ng-click="setTile('Think')"/>
            <img src="sleep.png" ng-click="setTile('Sleep')"/>
            <a href="#/table" class="button">View Chart</a>
            </div>
            
         </script>
         <script type="text/ng-template" id="/table.html">
            <a class="button" role="button" href="#/home" class="pull-left">Back</a>
            <h1>My Daily Health</h1>
            <table class="table table-striped">
              <thead>
                <tr>
            <th></th>
                  <th colspan="4">Meals</th>
                  <th colspan="4">All Day</th>
                  <th colspan="4">Thoughts</th>
                </tr>
                <tr>
            <th>Day</th>
            <th>Green Drink</th>
            <th>Healthy Breakfast</th>
            <th>Balanced Lunch</th>
            <th>Light Dinner</th>
            <th>Weight</th>
            <th>Exercise</th>
            <th>Good Snacks</th>
            <th>Lemon Water</th>
            <th>Reduce Stress</th>
            <th>Affirmations</th>
            <th>Think Thin</th>
            <th>Good Night Sleep</th>
                </tr>
              </thead>
              <tbody>
                <tr ng-repeat="x in entries">
                  <td>{{x.Day}}</td>
                  <td>{{x.Drink ? "X" : ""}}</td>
                  <td>{{x.Brkfst ? "X" : ""}}</td>
                  <td>{{x.Lunch ? "X" : ""}}</td>
                  <td>{{x.Dinner ? "X" : ""}}</td>
                  <td>{{x.Weigh ? "X" : ""}}</td>
                  <td>{{x.Exercise ? "X" : ""}}</td>
                  <td>{{x.Snacks ? "X" : ""}}</td>
                  <td>{{x.Lemon ? "X" : ""}}</td>
                  <td>{{x.Stress ? "X" : ""}}</td>
                  <td>{{x.Affirm ? "X" : ""}}</td>
                  <td>{{x.Think ? "X" : ""}}</td>
                  <td>{{x.Sleep ? "X" : ""}}</td>      
            
                </tr> 
              </tbody>
            </table>
            
         </script>
      </div>
   </body>
</html>
